body {
  background-color: black;
  color: lime;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: red;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  display: block;
  margin: 0 auto;
  width: 200px;
  filter: invert(100%);
  animation: matrixEffect 5s infinite;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: green;
  background-color: black;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  filter: invert(100%);
  animation: matrixEffect 5s infinite;
}

button {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: green;
  background-color: black;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  filter: invert(100%);
  animation: matrixEffect 5s infinite;
}

@keyframes matrixEffect {
  0% {
    filter: invert(100%);
  }
  50% {
    filter: invert(0%);
  }
  100% {
    filter: invert(100%);
  }
}
