/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

h1 {
  color: red;
  margin-right: 10px;
}

.crypto_image {
  width: 100px;
  height: 100px;
  filter: invert(100%);
  animation: matrixEffect 5s infinite;
  padding-left: 60px;
}

@keyframes matrixEffect {
  0% {
    filter: invert(100%);
  }
  50% {
    filter: invert(0%);
  }
  100% {
    filter: invert(100%);
  }
}

input[type="text"] {
  padding: 5px;
  font-size: 14px;
}

button {
  padding: 5px 10px;
  font-size: 14px;
}

#cryptoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  background: black;
  color: green;
  padding-right: 15px;
  padding-left: 15px;
}

.crypto {
  border: 1px solid #ff0000;
  padding: 20px;
  text-align: center;
}

.crypto img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.crypto h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.crypto p {
  margin-bottom: 5px;
}
